@import "../theme/index.less";

.kb-notice-bar {
  display    : flex;
  align-items: center;
  height     : 80rpx;
  line-height: 40rpx;
  padding    : 0 20rpx;
  font-size  : 26rpx;
  color      : #ff7a36;
  background : #fff8e6;

  &--wrapable {
    box-sizing    : border-box;
    height        : auto;
    min-height    : 80rpx;
    padding-top   : 10rpx;
    padding-bottom: 10rpx;

    .kb-notice-bar {
      &__content {
        white-space: normal;
      }
    }
  }

  &--scrollable {
    .kb-notice-bar {
      &__content {
        -webkit-animation: 12s move linear infinite normal;
        animation        : 12s move linear infinite normal;
      }
    }
  }

  &__left-icon {
    padding-right: 20rpx;
  }

  &__wrap {
    flex    : 1;
    overflow: hidden;
  }

  &__content {
    white-space: nowrap;
  }

  &__ellipsis {
    overflow     : hidden;
    text-overflow: ellipsis;
  }

  &__right-icon {
    padding-left: 20rpx;
  }

  @keyframes move {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform        : translate3d(100%, 0, 0);
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform        : translate3d(-100%, 0, 0);
    }
  }
}